<label
  class="input-label"
  [attr.for]="inputId"
  [style.color]="labelColor || null"
  *ngIf="label"
>
  {{ label }}<span class="input-label__required" *ngIf="isRequired">*</span>
</label>

<div
  class="input-field"
  [class.input-field--invalid]="control.touched && control.invalid"
>
  <app-icon class="input-field__icon" *ngIf="icon" [name]="icon"></app-icon>

  <input
    class="input-field__control"
    [id]="inputId"
    [name]="name"
    [type]="resolvedType"
    [formControl]="control"
    [placeholder]="placeholder"
    [attr.autocomplete]="autocomplete"
    [class.input-field__control--with-icon]="!!icon"
    [class.input-field__control--with-toggle]="type === 'password'"
  />

  <button
    class="input-field__toggle"
    type="button"
    *ngIf="type === 'password'"
    [attr.aria-label]="toggleLabel"
    (click)="togglePasswordVisibility()"
  >
    <app-icon [name]="toggleIcon"></app-icon>
  </button>
</div>

<p class="input-error" *ngIf="errorMessage">{{ errorMessage }}</p>
