<app-auth-form title="Recuperar senha">
  <form class="auth-fields" [formGroup]="form" (ngSubmit)="onSubmit()" novalidate>
    <app-input
      label="Email"
      name="email"
      type="email"
      icon="email"
      placeholder="Digite seu email"
      autocomplete="email"
      [control]="form.controls.email"
    ></app-input>

    <app-input
      label="Senha"
      name="password"
      type="password"
      icon="lock"
      placeholder="Digite sua senha"
      autocomplete="new-password"
      [control]="form.controls.password"
    ></app-input>

    <app-input
      label="Confirmação"
      name="confirmation"
      type="password"
      icon="lock"
      placeholder="Confirme sua senha"
      autocomplete="new-password"
      [control]="form.controls.confirmation"
    ></app-input>

    <app-button type="submit">Entrar</app-button>
  </form>
</app-auth-form>
